# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpy
3. scikit-learn

| Data Science Tools |
| ------------------ |
| Apache Spark       |
| TensorFlow         |
| Apache Hadoop      |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [1]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [2]:
# This will convert 200 minutes to hours by diving by 60
minutes=200
hours=(200/60)
print(hours)

3.3333333333333335

**Objectives:**


*   List popular languages for Data Science
*   List popular libraries for Data Science
*   List popular Data Science Tools
*   Using Markdowns
*   Using Expressions
*   Making an expression for converting minutes to hours

## Author:
Abdullah Hassan